# Your bot's application ID (can be found on Discord or on the Discord Developer Portal)
CLIENT_ID=

# Your bot token
DISCORD_TOKEN=

# Only put an ID here if you want commands to be registered in one server.
GUILD_ID=
